<div class="row g-3">
    <div class="col-sm-6">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" id="Name" placeholder="" value="" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="col-md-5">
        <label for="city" class="form-label">City</label>
        <select class="form-select" id="city"  required>
            <option value="">Choose...</option>
            <option value="Puttlam">Puttlam</option>
            <option value="Colombo">Colombo</option>
            <option value="Kandy">Kandy</option>
            <option value="Negambo">Negambo</option>
            <option value="Chilev">Chilev</option>
            <option value="Anuradhapura">Anuradhapura</option>
            <option value="NuwaraEliya">NuwaraEliya</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid city.
        </div>
    </div>

    <div class="col-12 mb-3">
        <label for="phoneNumber" class="form-label">Contact Number</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number">
    </div>

   

    